<div class="max-w-2xl m-auto p-5">
<h1 class="text-3xl font-bold text-black mb-6">Oil Report Uploader Home</h1>
<p>Report your oil changes and check the miles on your oil!</p>
<%= link_to 'Create a New Report', new_image_path %>
</div>