<div class="max-w-2xl m-auto p-5">
  <h1 class="text-3xl font-bold text-black mb-6">Oil Report Uploader</h1>
  <p class="mb-6">Upload a picture of your car mileage to log oil changes or check your miles remaining!</p>
  <%= render 'form', image: @image %>
  <%= link_to 'History', images_path %>
</div>
